# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Nx + workspace cache
dist/
tmp/
.cache/
nx-report.html

# Output from builds
**/dist/
**/*.tsbuildinfo

# Local env overrides
.env
.env.*

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Jest
coverage/
.jest/

# Prettier
.prettiercache

# TypeScript
*.tsbuildinfo

# Misc
*.local

.nx/cache
.nx/workspace-data